body {
  width: 100%;
  min-height: 100vh;
  font-family: $font-family;
  overflow-x: hidden;
  background-color: $black;
}

/* Main Styling */

// .main {
//   height: 100%;
//   width: 100%;
// }

/* Design Elements */
.hero,
.food,
.footer {
  background-color: black;
}
