body {
  width: 100%;
  min-height: 100vh;
  font-family: $font-family;
  //overflow-x: hidden;
}

/* Main Styling */
.wrapper {
  max-width: 148rem;
  height: 100vh;
  overflow-x: hidden;
  margin: auto;
  position: relative;
}

.main {
  height: 100%;
  width: 100%;
}

/* Design Elements */
.hero,
.food,
.footer {
  background-color: $black;
}

.sr-only {
  padding: 0;
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}
