h1,
h2,
h3,
body {
  font-family: $font-family;
}

// Heading styles
.heading-1 {
  font-weight: $weight-light;
  font-size: 4rem; // 64px
  line-height: 4.5rem; // 72px
  letter-spacing: -0.08;
  color: $white;

  // Tablet

  // Desktop
}

.heading-2 {
  font-weight: $weight-bold;
  font-size: 3rem; // 64px
  line-height: 4rem; // 72px
  letter-spacing: -0.5;
  color: $white;
}

.heading-3-lg {
  font-weight: $weight-bold;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.022rem;
  color: $white;
}

.heading-3-sm {
  font-weight: $weight-semi-bold;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.2rem;
}

.heading-2-r {
  font-family: $font-family;
  font-weight: 100;
  font-size: 4rem;
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
  color: $white;
}

.heading-3 {
  font-family: $font-family;
  font-weight: $weight-bold;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -0.5;
  color: $white;
}

// Body styles
.text-1 {
  font-size: 1.125rem;
  font-weight: $weight-regular;
  line-height: 25px;
  letter-spacing: -0.22px;

  // Tablet

  // Desktop
}

.text-2 {
  font-size: 1.2rem;
  font-weight: $weight-regular;
  line-height: 2rem;
  letter-spacing: 0.03rem;
  font-family: $font-family;
  color: $white;
}

// Form styles
.form-text {
  font-size: 1.8rem;
  line-height: 1.556;
  letter-spacing: -0.22px;
  &--regular {
    font-weight: $weight-light;
  }
  &--bold {
    font-weight: $weight-bold;
  }
}
