.booking {
  position: relative;
  max-height: 100%;

  @include devices(tablet) {
    max-height: 65rem;
  }

  .bk__header {
    width: 100%;
    height: 50rem;
    @include flex(column, flex-start);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include devices(mobile) {
      height: 50rem;
      background-image: url(/images/booking/hero-bg-mobile@2x.jpg);
    }

    @include devices(tablet) {
      height: 40rem;
      background-image: url(/images/booking/hero-bg-tablet@2x.jpg);
    }

    @include devices(desktop) {
      height: 40rem;
      background-image: url(/images/booking/hero-bg-desktop@2x.jpg);
      @include flex(row, flex-start);
      text-align: left;
      background-position-x: -1rem;
    }

    &--container {
      height: 29rem;
      max-width: 34rem;
      margin-top: 4rem;
      padding: 0 1rem;
      @include flex(column, space-between);

      @include devices(tablet) {
        margin-top: 4rem;
        max-width: 69rem;
        justify-content: center;
      }

      @include devices(desktop) {
        max-width: 30rem;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: 8rem;
      }
      @media screen and (min-width: 1081px) and (max-width: 1190px) {
        margin-left: 4rem;
        max-width: 28rem;
      }
    }

    &--logo {
      @include devices(tablet) {
        transform: translateY(-14rem);
      }

      @include devices(desktop) {
        transform: translateY(-4rem);
      }
    }

    &--title {
      // margin-top: -5rem;
      @include devices(tablet) {
        margin-top: -8rem;
      }
      @include devices(desktop) {
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
      }
    }
    &--text {
      font-size: 1.4rem;
      font-family: $font-family;
      margin-top: -1rem;

      @include devices(tablet) {
        margin-top: 1rem;
        padding: 0 11rem;
      }
      @include devices(desktop) {
        font-size: 1.5rem;
        font-family: $font-family;
      }
    }

    &--button {
      transform: translateY(-5rem);
      font-size: 1.125rem;
      padding: 1rem 2.5rem 1rem 2.5rem;
      letter-spacing: 0.15rem;
      cursor: pointer;
      margin-top: 4rem;

      @include devices(tablet) {
        display: none;
      }
      @include devices(desktop) {
        display: none;
      }
    }
  }

  .form__container {
    position: relative;
    @include devices(mobile) {
      @include flex(column, space-around);
      height: 40.4rem;
      padding: 1.8rem;
    }
    @include devices(tablet) {
      height: 45rem;
    }
    @include devices(desktop) {
      height: 20rem;

      background-repeat: no-repeat;
      background-image: url(/images/patterns/pattern-curve-bottom-right.svg);
    }

    .form {
      background-color: $white;
      box-shadow: $bshadow-1;
      margin: 0 auto;
      text-align: left;
      width: 100%;

      &-text--regular {
        font-size: 1.125rem;
        font-family: $font-family;
      }

      @include devices(mobile) {
        max-width: 27.5rem;
        height: 58.5rem;
        padding: 2rem;
        padding-bottom: 0;
        transform: translateY(-13rem);
      }
      @include devices(tablet) {
        max-width: 33rem;
        height: auto;
        padding: 2.5rem;
        transform: translateY(-16.4rem);
      }
      @include devices(desktop) {
        max-width: 30rem;
        height: auto;
        padding: 2.5rem;
        position: absolute;
        top: 0;
        right: 5%;
        transform: translateY(-21.4rem);

        z-index: 1000;
      }

      label {
        width: 33rem;
        @include devices(tablet) {
          width: 5rem;
          padding-bottom: 0;
        }
        @include devices(desktop) {
          width: 5rem;
          padding-bottom: 0;
        }
      }

      &__field {
        margin: auto;
        &--text {
          margin-bottom: 2.2rem;
          padding-left: 2rem;
          border: none;
          border-bottom: 1px solid $secondary-ebony;
        }

        .input-box {
          border: none;
          width: 100%;
          color: inherit;
          line-height: 2.8rem;
          font-size: 1.125rem;
          font-family: $font-family;
          cursor: pointer;
          /* &:focus {
                      opacity: 1;
                      border-bottom: 1px solid $primary-cod-gray;
                      outline: none;
                  }*/
          .input-box::placeholder {
            color: inherit;
          }
        }

        &--datetime {
          position: relative;

          @include devices(mobile) {
            width: 100%;
            height: 4.3rem;
            margin: auto;
            margin-bottom: 2rem;
          }

          @include devices(tablet) {
            @include flex(row, space-around);
            width: 100%;
            margin-bottom: 2rem;
          }
          @include devices(desktop) {
            @include flex(row, space-around);
            width: 100%;
            margin-bottom: 2rem;
          }

          .input-container {
            @include flex(row, space-between);
            @include devices(mobile) {
              width: 100%;
            }

            .input-box {
              font-size: 1.125rem;
              font-family: $font-family;
              border: none;
              width: 5rem;
              // margin-left: 0.5rem;
              padding: 0.5rem;
              text-align: center;
              border-bottom: 1px solid $secondary-ebony;
              cursor: pointer;

              @include devices(tablet) {
                width: 5rem;
                margin-left: 1rem;
              }

              @include devices(desktop) {
                width: 5rem;
                margin-left: 1rem;
              }
            }
          }
        } // form__field--datetime
      } // form__field

      &__dropdown {
        @include flex(row, space-between);
        width: 5rem;
        padding-left: 0.3rem;
        cursor: pointer;
        border-bottom: 1px solid $secondary-ebony;

        @include devices(tablet) {
          margin-left: 1rem;
        }

        @include devices(desktop) {
          margin-left: 1rem;
        }

        select {
          appearance: none;
          height: 3rem;
          // padding-left: 0.5rem;
          font-size: 1.125rem;
          font-family: $font-family;
          font-weight: $weight-regular;
          border: none;
          cursor: pointer;
          @include devices(tablet) {
            padding-left: 0;
            height: 2.7rem;
          }
          @include devices(desktop) {
            padding-left: 0;
            height: 2.7rem;
          }
        }

        &--arrow {
          position: relative;
        }

        &--arrow .active {
          transform: rotate(180deg);
        }

        .arrow-down {
          margin-right: 0.5rem;
        }
      } // form__dropdown

      &__number-people {
        border: none;
        text-align: center;
        padding-top: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $secondary-ebony;

        .number-people {
          text-align: center;
          font-size: 1.125rem;
          font-family: $font-family;
          margin: 0 0.5rem;
          border: none;
          padding-bottom: 1rem;
          @include devices(tablet) {
            margin: 0 6rem;
          }
        }
      }
    } // form

    .error-message {
      // display: block;
      display: none;
      visibility: hidden;
      line-height: 1.2;
      margin-top: 1rem;
      padding-left: 1.6rem;
      letter-spacing: -0.012rem;
      color: $color-error;
    }

    .error-message--text {
      visibility: visible;
    }

    .input-box--error {
      opacity: 1;
      border-bottom: 1px solid $color-error;
      &::placeholder {
        color: $color-error;
      }
    }

    .datetime-field-name.error {
      opacity: 1;
      color: $color-error;
    }

    .datetime-field-name {
      padding-bottom: 2rem;
    }

    .icon-count {
      margin: auto;
      cursor: pointer;
      width: 1.5rem;
      padding: 1rem;
    }
  } // form__container

  .form-floating--lines {
    @include devices(desktop) {
      display: block;
      transform: translateX(57rem) translateY(-40rem);
      position: absolute;
      z-index: -1;
    }
  }
} //booking

#form__option {
  background-color: $white;
}

// MAKE A RESERVATION BUTTON
.button--submit {
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 2rem 1rem 2rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
  @include devices(tablet) {
    padding: 1rem 4rem 1rem 4rem;
    max-width: 100%;
    font-size: 1.125rem;
  }
  @include devices(desktop) {
    padding: 1rem 4rem 1rem 4rem;
    max-width: 100%;
    font-size: 1.125rem;
  }
}

.bk__footer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5rem 2.4rem;
  text-align: center;
  background-color: $black;
  @include flex(column, space-between);

  @include devices(tablet) {
    height: 25rem;
    width: 100%;
  }

  @include devices(desktop) {
    height: 14rem;
  }

  &--container {
    @include flex(column, space-around);
    //width: 90vw;
    height: 100%;
    text-transform: uppercase;

    @include devices(tablet) {
      width: 100%;
      // margin-left: 4rem;
      @include flex(row, space-around);
      align-items: flex-start;
    }

    @include devices(desktop) {
      width: 100%;
      @include flex(row, space-around);
      align-items: flex-start;
    }

    &-info {
      @include devices(tablet) {
        margin-left: 0rem;
        text-align: left;
      }

      @include devices(desktop) {
        @include flex(row, space-around);
        width: 50rem;
        text-align: left;
      }
    }

    &-logo,
    &-address,
    &-hours {
      padding-bottom: 2rem;

      @include devices(desktop) {
        padding-bottom: 0;
      }
    }

    p {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.09rem;
    }
  }
}
