// Media Queries | Breakpoints
@mixin devices($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 560px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 561px) and (max-width: 1080px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media screen and (min-width: 1081px) {
      @content;
    }
  }

  @if $breakpoint == desktop-large {
    @media screen and (min-width: 1300px) {
      @content;
    }
  }

  @if $breakpoint == desktop-extra-large {
    @media screen and (min-width: 1500px) {
      @content;
    }
  }
}

// Layout & design
@mixin flex($direction, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: center;
}
