// Events Section
.events {
  background-color: $white;
  margin-top: 2rem;
  &-floating--lines {
    display: none;
    @include devices(desktop) {
      display: block;
      position: fixed;
      transform: translate(-30.8rem, -16.8rem);
      z-index: 1;
    }

    @include devices(tablet) {
      // padding: 12rem 0;
      background-image: url(../../assets/images/patterns/pattern-curve-top-right.svg);
      background-repeat: no-repeat;
      background-position-x: -69vw;
    }
  }

  @include devices(desktop) {
    padding: 6rem;
    background-repeat: no-repeat;
    background-image: url(/assets/images/patterns/pattern-curve-top-right.svg);
    background-position-x: -25rem;
    margin-top: 0;
  }

  &__slider {
    color: black;

    @include devices(desktop) {
      @include flex(column-reverse, center);
      padding: 2rem;
      text-align: left;
      width: 32rem;
    }

    &--list {
      text-transform: uppercase;
      position: relative;
      margin-bottom: 0rem;
      text-align: center;
      margin-top: 2rem;

      @include devices(tablet) {
        margin-top: 0rem;
        @include flex(row, space-between);
        padding: 2rem;
      }

      @include devices(desktop) {
        text-align: left;
        @include flex(column, flex-start);
        align-items: flex-start;
        width: 100%;
      }

      & * p {
        color: $primary-cod;
        opacity: 0.5;
        font-weight: 500;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        letter-spacing: 0.25rem;
        @include devices(tablet) {
          font-size: 1rem;
        }
        @include devices(desktop) {
          font-size: 1rem;
        }
      }
    }
  }

  &__container {
    @include flex(column, space-between);
    text-align: center;
    @include devices(tablet) {
      padding: 3rem;
    }
    @include devices(desktop) {
      max-width: 100%;
      padding: 4rem;
      margin: 0 auto;
      @include flex(row, space-around);
    }
  }
}

.event {
  &__photos {
    width: 100%;
    padding: 1.5rem;
    padding-bottom: 0rem;
    @include devices(desktop) {
      width: 30rem;
      max-width: 100%;
      height: 34rem;
      padding: 0;
    }

    &--family {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      background-image: url(../../assets/images/homepage/family-gathering-mobile.jpg);
      min-height: 40rem;
      width: 100%;
      @include devices(tablet) {
        background-image: url(/images/homepage/family-gathering-tablet.jpg);
      }
      @include devices(desktop) {
        background-image: url(/images/homepage/family-gathering-desktop.jpg);
        height: 100%;
        width: 100%;
      }
    }
    &--special {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(/images/homepage/special-events-mobile.jpg);
      min-height: 40rem;
      width: 32.7rem;
      //margin: 0 auto;
      @include devices(tablet) {
        background-image: url(/images/homepage/special-events-tablet.jpg);
      }
      @include devices(desktop) {
        background-image: url(/images/homepage/special-events-desktop.jpg);
        height: 100%;
        width: 100%;
      }
    }
    &--social {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(/images/homepage/social-events-mobile.jpg);
      min-height: 40rem;
      width: 32.7rem;
      @include devices(tablet) {
        background-image: url(/images/homepage/social-events-tablet.jpg);
      }
      @include devices(desktop) {
        background-image: url(../../assets/images/homepage/social-events-desktop.jpg);
        height: 100%;
        width: 100%;
      }
    }
  }
  &__photo {
    display: none;
    box-shadow: $bshadow-1;
    &--active {
      display: inline-block;
      z-index: 1;
      width: 100%;
      min-height: 28.3rem;
    }
  }

  &__contents {
    padding: 1.5rem;
    padding-top: 0;
    margin-bottom: 6rem;
    margin-top: 2rem;

    @include devices(tablet) {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    & a {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      font-size: 1rem;
      letter-spacing: 0.15rem;
    }

    @include devices(desktop) {
      text-align: left;
      margin: 0;
      padding: 0;
    }
  }

  &__item {
    margin-top: 1.5rem;
    cursor: pointer;
    @include devices(desktop) {
      margin: 0;
    }
  }

  &__item p:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    padding-top: 5px;
    border-bottom: 0px solid white;
  }

  &__item--active p {
    color: $primary-cod;
    opacity: 1;
    padding-bottom: 0;
  }

  &__item--active p:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    padding-top: 5px;
    border-bottom: 2px solid $primary-beaver;
  }

  &__content--title {
    font-size: 3rem;
    font-weight: 600;
  }

  &__content--active h2 {
    color: black;
    margin-bottom: 1.5rem;
  }

  &__content--active p {
    color: black;
    line-height: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }
  &__line--active span {
    border-bottom: $primary-beaver solid 2px;
    border-width: 2px;
  }
}

.event__content {
  display: none;
}

.event__content--active {
  display: block;
  text-align: center;

  @include devices(desktop) {
    text-align: left;
  }
}

.event__item--active {
  color: $secondary-ebony;
  opacity: 1;
  // transform: translateY(1rem);
  @include devices(desktop) {
    text-align: left;
  }
}
