.features {
  @include devices(mobile) {
    height: 100vh;
    background-color: black;

    &__videobox {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &__flame--video {
      height: 100%;
      width: 100%;
    }
  }
}
