.hero {
  @include devices(mobile) {
    background-color: black;
    height: 100vh;
    max-width: 600px;

    &__container {
      height: 100%;
      width: 100%;
      background-image: url(/assets/images/hero-background.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &--content {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem;
      }
    }
  }
}
